.feed {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}


.feedWrapper {

   margin: 20px;

}

.shareProfileImg {
    z-index: 1050;
    cursor: pointer;
    position: relative !important; 
    top: 5px;
    left: 5px;

}

.shareImgWrapper {
    z-index: 1050;
    position: fixed;
}

.postPadding {
    padding-top: 40px;
    padding-left: 65px;
}