.share {
    border-radius: 20px;
    -webkit-box-shadow: -20px 24px 43px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: -20px 24px 43px 0px rgba(0,0,0,0.69);
    box-shadow: -20px 24px 43px 0px rgba(0,0,0,0.69);
    background: linear-gradient(to bottom, white 70%, #ee7624 30%); 
    z-index: 900;
    position: fixed !important;
    flex-shrink: 1;
    transition:  all 0.3 ease;
    flex-grow: 1;

  }
  
  .shareWrapper {
    padding: 10px;
    
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    -webkit-box-shadow: 4px 10px 24px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 4px 10px 24px 0px rgba(0,0,0,0.46);
    box-shadow: 4px 10px 24px 0px rgba(0,0,0,0.46);
  }
  

  
  .shareInput {
    border: none;
    width: 80%;
    background-color: transparent;
    font-size: 15px;
    padding-left: 60px;
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 10px;
  }
  
  .shareBottom {
    display: flex;
    align-items:end;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    right: 40px;
  }
  
  .shareOptions{
      display: flex;
      margin-left: 20px;
      align-items: en; /* Vertically centers the icons */
      justify-content: center; /* Horizontally centers the icons */
      height: 100%; 
      position: relative;
      bottom: 175px;

  }
  
  .shareOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
      
  }
  
  .shareIcon{
      font-size: 18px;
      margin-right: 3px;  
  }
  
  .shareOptionText{
      font-size: 14px;
      font-weight: 500;
      color: lightgray;
      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  }
  
  .shareButton{
      border: none;
      padding: 7px;
      border-radius: 20px;
      background-color: white;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: #ee7624 ;
      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      position: relative;
      bottom: 0px;
      right: -40px;
  }

  .shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
    height: 50px;
    width: 50px;
    bottom: -420px;
  }
  
  .shareImg{
    width: 100%;
    object-fit: cover;
  }
  
  .shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
  }

  .mediaButtonWrapper{
    color: lightgray;
  }

  .hidden {
    visibility: hidden;
    pointer-events: none;
  }
  
  .visible {
    visibility: visible;
    pointer-events: auto;
  }