.share {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background: linear-gradient(to bottom, white 70%, #ee7624 30%); /* Gradient split at 50% */
  }
  
  .shareWrapper {
    padding: 10px;
    
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .shareInput {
    border: none;
    width: 80%;
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 10px;
  }
  
  .shareBottom {
    display: flex;
    align-items:end;
    justify-content: space-between;
    position: relative;
    top: 70px;
  }
  
  .shareOptions{
      display: flex;
      margin-left: 20px;
      align-items: en; /* Vertically centers the icons */
  justify-content: center; /* Horizontally centers the icons */
  height: 100%; 
  }
  
  .shareOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .shareIcon{
      font-size: 18px;
      margin-right: 3px;
  }
  
  .shareOptionText{
      font-size: 14px;
      font-weight: 500;
      color: white
  }
  
  .shareButton{
      border: none;
      padding: 7px;
      border-radius: 20px;
      background-color: white;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: #ee7624 ;
    
  }