.homeContainer {
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  background-color: lightgrey;
  gap:40px;
}
