.rightbar {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px -4px 13px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px -4px 13px -1px rgba(0,0,0,0.36);
    box-shadow: 0px -4px 13px -1px rgba(0,0,0,0.36);
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  
  .rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .rightbarTitle{
    font-size: 18px;
    font-weight: 500;
      margin-bottom: 20px;
  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }

 .rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;

 }

 .rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
 }

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
};


  .rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .rightbarInfo{
    margin-bottom: 30px;
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
  }
  
  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .rightbarInfoValue{
    font-weight: 300;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid gray
  }

  .rightbarFollowButton{
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-shadow: 4px 10px 24px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 4px 10px 24px 0px rgba(0,0,0,0.46);
    box-shadow: 4px 10px 24px 0px rgba(0,0,0,0.46);
  }

  .rightbarFollowButton:focus{
    outline: none;
  }